@model CineviewsApp.Models.Meufilme

@{
    ViewData["Title"] = "Edit";
}

<h4 class="mb-4">Editar Filme</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-2">
                <label asp-for="MeuScore" class="control-label"></label>
                <input asp-for="MeuScore" class="form-control" />
                <span asp-validation-for="MeuScore" class="text-danger"></span>
            </div>
@*             <div class="form-group mb-4">
                <label asp-for="FilmeId" class="control-label"></label>
                <select asp-for="FilmeId" class="form-control" asp-items="ViewBag.FilmeId"></select>
                <span asp-validation-for="FilmeId" class="text-danger"></span>
            </div> *@
            <div class="form-group mb-4">
                <label asp-for="Review" class="control-label">Review</label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-secondary">&#8630 Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />                
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
